apiVersion: v1
kind: Namespace
metadata:
  name: wheeldeal-namespace

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: wheeldeal-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: {{ POSTGRES_IMAGE_LATEST }}
          ports:
            - containerPort: 5432
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: wheeldeal-namespace
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: wheeldeal-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: {{ FRONTEND_IMAGE_LATEST }}
          ports:
            - containerPort: 5173
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: wheeldeal-namespace
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173
  type: LoadBalancer

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: wheeldeal-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: {{ BACKEND_IMAGE_LATEST }}
          ports:
            - containerPort: 5174
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: wheeldeal-namespace
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5174
      targetPort: 5174
  type: LoadBalancer
