@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

.bills-container{
    padding: 60px 200px;
    font-family: 'Montserrat', sans-serif;
}

.bills-container h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    color: #3B454E;
}

.bills-container h3 span{
    font-weight: 500;
    color: #2C4494;
    margin-left: 10px;
}
.bills-container a{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #2E4F76;
}