.account-layout {
    width: 100%;

    height: auto;
    margin: 0 auto;
    position: relative;

}

.footer{
    width: 1919px;
    height: 510px;
    padding: 0;
}

.account-header{
    height: 450px;
    padding: 0;
    display: contents;
}