{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Authentication": {
    "Jwt": {
      "SecretKey": "E!Pzau3nxIGS!6tjWlGQ98Qymd4MUxU9/zF=ylGeR95kx2hd4ZsO9z50hpYO872kUbvqQPulUKuymJnps5LiRiPcoNt6nPc3D0ziU/MeETpH?71=0tfq3f6kK5eIkELFqHJwTQL?yY?9dpVfcnmfSX7haYB708gtfMErvdUeO/jb!S5EFzBjV6NVZ=-HsM-I9=r3teaUQZDsB1fm5gbj0?BtPWkDE1p!lmmwmrKqjF5hzNeTx7ecgSIbYDH?HlTJ",
      "TokenLifetimeInDays": 14
    }
  },
  "ConnectionStrings": {
    "Npgsql": "Host={{ PUBLIC_ADDRESS }};Port=5432;Database={{ POSTGRES_DB }};Username={{ POSTGRES_USER }};Password={{ POSTGRES_PASSWORD }}"
  },
  "ImagesDir": "Images",
  "ImageSizes": [
    200,
    400,
    800,
    1200
  ],
  "Admin": {
    "Email": "admin@gmail.com",
    "Password": "12345678"
  },
  "DefaultSeedData": {
    "CurrencyType": [
      "Євро",
      "Доллар",
      "Гривня"
    ],
    "Regions": [
      "Kyiv",
      "Lviv",
      "Odessa",
      "Kharkiv",
      "Vinnytsia",
      "Volyn",
      "Dnipropetrovsk",
      "Donetsk",
      "Zhytomyr",
      "Zakarpattia",
      "Zaporizhzhia",
      "Ivano-Frankivsk",
      "Kropyvnytskyi",
      "Luhansk",
      "Mykolaiv",
      "Poltava",
      "Rivne",
      "Sumy",
      "Ternopil",
      "Kherson",
      "Khmelnytskyi",
      "Cherkasy",
      "Chernihiv",
      "Chernivtsi"
    ],
    "Cities": {
      "Kyiv": "Kyiv",
      "Brovary": "Kyiv",
      "Lviv": "Lviv",
      "Drohobych": "Lviv",
      "Odessa": "Odessa",
      "Kharkiv": "Kharkiv",
      "Vinnytsia": "Vinnytsia",
      "Lutsk": "Volyn",
      "Dnipro": "Dnipropetrovsk",
      "Kryvyi Rih": "Dnipropetrovsk",
      "Donetsk": "Donetsk",
      "Mariupol": "Donetsk",
      "Zhytomyr": "Zhytomyr",
      "Uzhhorod": "Zakarpattia",
      "Mukachevo": "Zakarpattia",
      "Zaporizhzhia": "Zaporizhzhia",
      "Ivano-Frankivsk": "Ivano-Frankivsk",
      "Kropyvnytskyi": "Kropyvnytskyi",
      "Luhansk": "Luhansk",
      "Mykolaiv": "Mykolaiv",
      "Poltava": "Poltava",
      "Rivne": "Rivne",
      "Sumy": "Sumy",
      "Ternopil": "Ternopil",
      "Kherson": "Kherson",
      "Khmelnytskyi": "Khmelnytskyi",
      "Cherkasy": "Cherkasy",
      "Chernihiv": "Chernihiv",
      "Chernivtsi": "Chernivtsi"
    },
    "EngineVolume": [
      "1.5",
      "1.6",
      "1.8",
      "1.85",
      "1.9",
      "2",
      "2.2",
      "2.3",
      "2.4",
      "2.42",
      "2.5",
      "2.7",
      "3",
      "3.5"
    ],
    "FuelTypes": [
      "Бензин",
      "Дизель",
      "Електро",
      "Газ",
      "ГазБензин",
      "ГазМетан",
      "ГазПропанБутан",
      "Гібрид",
      "Інший"
    ],
    "NumberOfSeats": [
      "2",
      "4",
      "6",
      "8",
      "10",
      "Інший"
    ],
    "TransmissionTypes": [
      "Автоматична",
      "Механічна",
      "Робот",
      "Тіптронік",
      "Варіатор"
    ],
    "Colors": [
      "Чорний",
      "Білий",
      "Сірий",
      "Синій",
      "Червоний",
      "Зелений",
      "Жовтий",
      "Коричневий",
      "Помаранчевий",
      "Фіолетовий",
      "Рожевий",
      "Інший"
    ],
    "TransportTypes": [
      "Будь-який",
      "Легкові",
      "Мото",
      "Вантажівки",
      "Причепи",
      "Спецтехніка",
      "Сільгосптехніка",
      "Автобуси",
      "Автобудинки"
    ],
    "BodyTypes": [
      "Універсал",
      "Седан",
      "Хетчбек",
      "Позашляховик",
      "Кросовер",
      "Купе",
      "Кабріолет",
      "Мінівен",
      "Пікап",
      "Інший",
      "Лімузин",
      "Легковий фургон (до 1,5т)",
      "Ліфтбек"
    ],
    "Brands": [
      "Audi",
      "BMW",
      "Mercedes-Benz",
      "Volkswagen",
      "Porsche",
      "Ford",
      "Chevrolet",
      "Tesla",
      "Toyota",
      "Honda",
      "Nissan",
      "Subaru",
      "Mitsubishi",
      "Hyundai",
      "Kia",
      "Volvo",
      "Ferrari",
      "Lamborghini",
      "Fiat",
      "Peugeot",
      "Renault",
      "Citroën",
      "Skoda",
      "Seat",
      "Jaguar",
      "Land Rover",
      "Aston Martin"
    ],
    "Models": {
      "Audi": [
        "A3",
        "A4",
        "A6",
        "Q3",
        "Q5",
        "Q7"
      ],
      "BMW": [
        "3 Series",
        "5 Series",
        "7 Series",
        "X3",
        "X5",
        "X7"
      ],
      "Mercedes-Benz": [
        "C-Class",
        "E-Class",
        "S-Class",
        "GLA",
        "GLC",
        "GLE"
      ],
      "Volkswagen": [
        "Golf",
        "Passat",
        "Tiguan",
        "Polo",
        "Touareg",
        "Jetta"
      ],
      "Porsche": [
        "911",
        "Cayenne",
        "Macan",
        "Panamera",
        "Taycan"
      ],
      "Ford": [
        "Focus",
        "Fiesta",
        "Mustang",
        "Explorer",
        "Escape"
      ],
      "Chevrolet": [
        "Camaro",
        "Tahoe",
        "Silverado",
        "Equinox",
        "Malibu"
      ],
      "Tesla": [
        "Model S",
        "Model 3",
        "Model X",
        "Model Y"
      ],
      "Toyota": [
        "Corolla",
        "Camry",
        "RAV4",
        "Land Cruiser",
        "Highlander"
      ],
      "Honda": [
        "Civic",
        "Accord",
        "CR-V",
        "Pilot",
        "HR-V"
      ],
      "Nissan": [
        "Altima",
        "Maxima",
        "Rogue",
        "Murano",
        "Qashqai"
      ],
      "Subaru": [
        "Impreza",
        "Outback",
        "Forester",
        "Legacy",
        "WRX"
      ],
      "Mitsubishi": [
        "Lancer",
        "Outlander",
        "Pajero",
        "ASX",
        "Eclipse Cross"
      ],
      "Hyundai": [
        "Elantra",
        "Sonata",
        "Tucson",
        "Santa Fe",
        "Palisade"
      ],
      "Kia": [
        "Rio",
        "Optima",
        "Sorento",
        "Sportage",
        "Stinger"
      ],
      "Volvo": [
        "S60",
        "XC40",
        "XC60",
        "XC90",
        "V60"
      ],
      "Ferrari": [
        "488",
        "812 Superfast",
        "Portofino",
        "F8 Tributo",
        "Roma"
      ],
      "Lamborghini": [
        "Huracan",
        "Aventador",
        "Urus"
      ],
      "Fiat": [
        "500",
        "Panda",
        "Tipo",
        "500X"
      ],
      "Peugeot": [
        "208",
        "308",
        "508",
        "2008",
        "3008"
      ],
      "Renault": [
        "Clio",
        "Megane",
        "Kadjar",
        "Captur",
        "Talisman"
      ],
      "Citroën": [
        "C3",
        "C4",
        "C5 Aircross",
        "Berlingo",
        "C1"
      ],
      "Skoda": [
        "Octavia",
        "Fabia",
        "Superb",
        "Kodiaq",
        "Rapid"
      ],
      "Seat": [
        "Ibiza",
        "Leon",
        "Arona",
        "Ateca",
        "Tarraco"
      ],
      "Jaguar": [
        "XE",
        "XF",
        "F-Pace",
        "E-Pace",
        "I-Pace"
      ],
      "Land Rover": [
        "Range Rover",
        "Discovery",
        "Defender",
        "Evoque",
        "Velar"
      ],
      "Aston Martin": [
        "Vantage",
        "DB11",
        "DBS",
        "Rapide",
        "DBX"
      ]
    }
  }
}