{
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "printWidth": 130,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],

  "importOrder": ["^react$", "^@components/(.*)$", "^@ui/(.*)$", "^@utils/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
