


.arrow {
    color: #2C4494;
    top: 1556px;
    margin: 10px;
}



.cars-container {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.btn-none-styles{
    background: none;
    border:none;
    padding: 0;
}
.btn-none-styles:focus,
.btn-none-styles:focus-visible,
.btn-none-styles:active {
    outline: none; 
    box-shadow: none; 
    background-color: transparent; 
    box-shadow: none; 
}