


.arrow {
    position: absolute;
    top: 1556px;
}

.left-arrow {
    left: 200px;
}

.right-arrow {
    left: 1699px;
}

.cars-container {
    display: flex;
    justify-content: space-between;
}

.btn-none-styles{
    background: none;
    border:none;
    padding: 0;
}