@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

button:hover,
button:active,
button:focus
{
    box-shadow: none;
    outline: none;
    transition: none;
    border: 1px solid #ffffff;
}

.none-line:hover,
.none-line:active,
.none-line:focus{
    border: 1px solid transparent;
}

select:focus,
select:hover,
input:focus,
input:hover {
    outline: none;
    box-shadow: none;
}